.supportContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .socialLinks {
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .socialBrands {
      display: flex;
      img {
        padding-right: 10px;
      }
    }
    .socialEmail {
      display: flex;
      align-items: center;
      padding-left: 8px;
      text-align: center;
      @media (max-width: 1024px) {
        padding: 16px 0;
        justify-content: center;
      }
      @media (max-width: 600px) {
        flex-wrap: wrap;
      }
      .line {
        width: 1px;
        height: 10px;
        background: #3f3a79;
      }
      .Email {
        display: flex;
        align-items: center;
        color: #3f3a79;
        font-size: 12px;
        font-weight: 500;
        @media (max-width: 600px) {
          font-size: 11px;
        }
        span {
          color: #00b67a;
        }
      }
    }
  }
  .brandName {
    color: #3f3a79;
    font-size: 12px;
    font-weight: 500;
    a {
      text-decoration: none;
      color: #3f3a79;
    }
  }
}
